<div class="sidebar-area">
<div class="sidebar">
<ul class="sidebar">

<li class="sidebar"><br><b>Software</b></li>
<li class="sidebar"><a href="/player">Player</a></li>
<li class="sidebar"><a href="/stage">Stage</a></li>

<li class="sidebar"><br><b>Documentation</b></li>
<li class="sidebar"><a href="/manuals">Manuals</a></li>
<li class="sidebar"><a href="/faq">FAQ</a></li>
<li class="sidebar"><a href="/publications">Publications</a></li>

<li class="sidebar"><br><b>Project</b></li>
<li class="sidebar"><a href="/about">About</a></li>
<li class="sidebar"><a href="/history">History</a></li>
<li class="sidebar"><a href="/members">Members</a></li>
<li class="sidebar"><a href="/contributors">Contributors</a></li>
<li class="sidebar"><a href="/funding">Funding</a></li>

</ul>
</div>
</div>
